.prepend-top.prepend-5
  %div.rounded-box.rounded-box-medium
    %div
      %div
        %div.rounded-box-largefont
          - form_for @blitz do |f|
            %div(style="position: relative; top: 8px")<
              = image_tag('/images/icons/blitz_75.png', :alt => 'blitz icon (football helmet)')
            %h2(style="position: relative; left: 110px; bottom: 40px") New Blitz Grant
            %div(style="position: relative; bottom: 20px")
              = f.error_messages
              .form_row
                = f.label :name
                = f.text_field :name, :style => "width: 322px"
              .form_row(style="position: relative; left: 337px; bottom: 50px")
                = f.label :amount
                = f.text_field :amount, :style => "width: 62px"
              %div(style="position: relative; bottom: 48px")<
                = f.text_area :proposal
                %br
                = submit_button "Preview"

