.span-21.prepend-1.append-1.prepend-top.last
  .span-10
    %h2 Blitz Grants
  .span-11.last
    %h2== Blitz Fund #{number_to_currency(@general_pool, :precision => 0)}

.span-20.prepend-2.append-2.last#search
  .span-10.pull-1.prepend-top
    - if current_user.blitz_interest
      %h3.quiet Commence voting!
    - else
      %h3.quiet Blitz Voting and Writing Privileges
      = link_to image_tag("http://g-ecx.images-amazon.com/images/G/01/cba/b/sg3.jpg"), :controller => :payments, :action => :new
    
  .span-10.last
    - form_for @search do |f|
      .form_row
        %h6 Search blitz grants
        = f.text_field :proposal_like, :class => 'text buttonless_field'
        =# f.select :age_greater_than, (0..100)
        =# f.text_field :orders_total_greater_than
        = submit_button 'Search'
    -#  
      - form_for @search do |f|
        - f.fields_for @search.conditions do |groups|
          .form_row
            %h6 Search blitz grants
            = groups.text_field :proposal_keywords, :class => "text buttonless_field"
            = submit_button "Search"
    - if blitz_voter?(current_user)
      %h3= link_to "New Blitz Grant", new_blitz_path, :method => :get
    - else
      Pay blitz dues
  .span-20.prepend-top.last
    %br
- @blitzes.each do |blitz|
  = render 'blitz', :blitz => blitz if show_blitz?(blitz)

%br(clear="both")
%h4.pull-1= will_paginate @blitzes


