.span-21.prepend-1.append-1.prepend-top.last
  .span-20.last
    - if blitz_voter?(current_user)
      %h3.flr(style='position:relative; top: 12px;')<
        = link_to "New Blitz Grant", new_blitz_path, :method => :get
    %h2== Blitz Fund #{number_to_currency(@general_pool, :precision => 0)}

.span-20.prepend-2.append-2.last#search
  .span-10.pull-1.prepend-top
    - unless current_user.blitz_interest
      %h3== Blitz Voting and Writing Dues are $#{Payment::AMOUNT}
      %p.prepend-1= link_to image_tag("http://g-ecx.images-amazon.com/images/G/01/cba/b/sg3.jpg"), :controller => :payments, :action => :new

  .span-10.last
    &nbsp;
  .span-20.prepend-top.last
    %br
- @blitzes.each do |blitz|
  = render 'blitz', :blitz => blitz

%br(clear="both")
%h4= will_paginate @blitzes

