= render 'shared/sidebar'
.prepend-1.append-1.prepend-top
  %div.rounded-box.rounded-box-medium.prepend-2.push-2
    %div
      %div
        %div.rounded-box-largefont
          - form_for @blitz do |f|
            .span-21.prepend-2.append-1.last
              = f.error_messages    
              %br
              - unless @blitz.name.blank?
                %h2.append-2 Edit Blitz Grant
              - else
                %h2.append-2 New Blitz Grant
  
              .span-10.last
                %label.left Name
                = f.text_field :name
                
                %br
                %br
                %label.left Amount
                = f.text_field :amount, :size => 4
                %br
                %br
                %small.quiet YouTube, Viddler, Vimeo
                %br 
                = f.text_field :media
              .span-10
                = @blitz.media if @blitz.media
                = f.text_area :proposal

            .prepend-4
              %br
              = submit_button "Preview"
              %br
              %br    

