.prepend-1.span-22.append-1.prepend-top
  .prepend-1.span-7.append-1
    .span-2<
      - if @user == current_user
        %p= link_to user_defined_image(@user, :medium, :alt => "#{h @user.login}"), account_path
      - else
        %p= user_defined_image(@user, :medium, :alt => "#{h @user.login}")
    .span-5.prepend-top.last<
      %h3.center=h @user.login  
    %br{:style => "clear: both"}
    - unless @user.profile.name.blank?
      %h6.quiet= h @user.profile.name 
    - unless @user.profile.location.blank?
      %h6.quiet= h @user.profile.location 
      -# TODO write helper method for links and breadcrumbs ...
    - unless @user.profile.link.blank? or @user.profile.link == "http://"
      %h6.quiet= link_to h(@user.profile.link), h(@user.profile.link) if @user.profile.link.include?("http://")
    %h5.quiet=h @user.profile.detail if @user.profile.detail
    %h3< 
      Cred
      %hr
    = user_cred_images(@user, :medium)
    %br{:clear => :both}    
    - if @user == current_user
      %br
      %br 
      -#.flr= link_to 'edit', edit_account_path
      .quiet.small.center [ viewing your public profile ]
      %br{:style => "clear:both"}
      %br
      %br 
  .span-12.append-1.prepend-top.last
    %h3.prepend-top< 
      Groups
      %hr
    - @user.groups.each do |g|
      = link_to user_defined_image(g, :small, :alt => "#{h g.name}", :title => "#{h g.name}"), group_path(g)
    %h3.prepend-top< 
      Awards
      %hr
    - @user.grants.awarded.each do |g|
      = link_to user_defined_image(g, :small, :alt => "#{h g.name}", :title => "#{h g.name}"), group_grant_path(g.group, g)
    %h3.prepend-top< 
      Sessions
      %hr
    - @user.grants.session.each do |g|
      - unless g.votes.count.zero?
        = link_to user_defined_image(g, :small, :alt => "#{h g.name}", :title => "#{h g.name}"), group_grant_path(g.group, g)
    %br
    %br
    %br       
