.prepend-1.span-22.append-1.prepend-top
  .prepend-1.span-7.append-1
    .span-3<
      - if @user == current_user
        %p= link_to user_defined_image(@user, :large, :alt => "#{h @user.login}"), home_path
      - else
        -# TODO link_to original size?
        %p= user_defined_image(@user, :large, :alt => "#{h @user.login}")
    .span-4.prepend-top.last<
      %h3.center=h @user.login
      -# unless @user == current_user or current_user.friendships.exists?(:friend_id => @user)
        %h6.center= button_to "Add Friendship", friendships_path(:friend_id => @user), :method => :post  
    %br{:style => "clear: both"}
    - unless @user.profile.name.blank?
      %h6.quiet= h @user.profile.name 
    - unless @user.profile.location.blank?
      %h6.quiet= h @user.profile.location 
      -# TODO write helper method for links and breadcrumbs ...
    - unless @user.profile.link.blank? or @user.profile.link == "http://"
      %h6.quiet= link_to h(@user.profile.link), h(@user.profile.link) if @user.profile.link.include?("http://")
    %h5.quiet=h @user.profile.detail if @user.profile.detail
    %h5= link_to 'Settings', edit_account_path if current_user == @user
    - unless @user == current_user
      - if current_user.friendships.exists?(:user_id => current_user, :friend_id => @user)
        = link_to "remove friendship", friendship_path(@user), :method => :delete
      - else
        = link_to "Add Friendship", friendships_path(:friend_id => @user), :method => :post
    = render 'shared/user_invitation' if current_user == @user and current_user.invitation_limit > 0 
    %h3.prepend-top< 
      Cred
      %hr
    = user_cred_images(@user, :small)
    %br{:clear => :both}

    %h3.prepend-top<
      Friends
      %hr
    - @user.friendships.each do |friendship|
      - if friendship.friend.friendships.exists?(:friend_id => @user)
        = link_to user_defined_image(friendship.friend, :thumb, :alt => h(friendship.friend.login), :title => h(friendship.friend.login)), profile_path(friendship.friend.login)

    - if @user == current_user        
      %br{:clear => :both}
      %h3.prepend-top<
        Following
        %hr
      - current_user.friendships.each do |friendship|
        - unless friendship.friend.friendships.exists?(:friend_id => current_user)
          = link_to user_defined_image(friendship.friend, :thumb, :alt => h(friendship.friend.login), :title => h(friendship.friend.login)), profile_path(h(friendship.friend.login))
          
      %br{:clear => :both}
      %h3.prepend-top<
        Followers
        %hr
      - current_user.inverse_friends.each do |inverse_friendship|
        - unless current_user.friendships.exists?(:friend_id => inverse_friendship)
          = link_to user_defined_image(inverse_friendship, :thumb, :alt => h(inverse_friendship.login), :title => h(inverse_friendship.login)), profile_path(h(inverse_friendship.login))
    %br
    %br
    %br  
  .span-12.append-1.prepend-top.last
    - if @user.groups.count.zero? and @user == current_user
      %h3.prepend-top< 
        Groups
        %hr
      %h3= link_to "Create or join a group!", groups_path
    - elsif @user.groups.count > 0
      %h3.prepend-top< 
        Groups
        %hr
      - @user.groups.reverse.each do |g|
        = link_to user_defined_image(g, :small, :alt => "#{h g.name}", :title => "#{h g.name}"), group_path(g)
    - if @user.grants.awarded.count > 0
      %h3.prepend-top< 
        Awards
        %hr
      - @user.grants.awarded.reverse.each do |g|
        = link_to user_defined_image(g, :small, :alt => "#{h g.name}", :title => "#{h g.name}"), group_grant_path(g.group, g)
    - if @user.grants.session.count > 0
      %h3.prepend-top< 
        Sessions
        %hr
      - @user.grants.session.reverse.each do |g|
        - unless g.votes.count.zero?
          = link_to user_defined_image(g, :small, :alt => "#{h g.name}", :title => "#{h g.name}"), group_grant_path(g.group, g)
    - if current_user == @user
      - if @user.grants.detect {|g| g.votes.count.zero? }
        %h3.prepend-top<
          .flr{:style => "font-size: 12px; color: #888; position: relative; top: 4px;"} (private view)
          Writeboard
          %hr
      - @user.grants.session.reverse.each do |g|
        - if g.votes.count.zero? 
          = link_to user_defined_image(g, :small, :alt => "#{h g.name}", :title => "#{h g.name}"), group_grant_path(g.group, g)       
    %br
    %br
    %br       
