.prepend-top
%div.rounded-box.rounded-box-medium.centered
  %div
    %div
      %div.rounded-box-largefont
        %h2.prepend-1 Change Your Password
        .clear.large
          - form_for @user, :url => password_reset_path, :method => :put do |f| 
            %p
            = f.error_messages 
            %p 
            = f.label :password
            = f.password_field :password
            %p 
            = f.label :password_confirmation
            = f.password_field :password_confirmation
            = f.submit "Update my password and log me in"
      .form-space
          %br
  
