.span-24.last
  .span-14.prepend-1.append-1.last
    .prepend-1
      - @grants_awarded.each do |grant|
        %h3<
          .flr= link_to user_defined_image(grant.user, :small, :alt => h(grant.user.login), :title => h(grant.user.login)), "/#{h(grant.user.login)}"
          =h grant.name
        %h5== #{number_to_currency grant.amount, :precision => 0}
        .span-3.last
          .span-3= link_to user_defined_image(grant, :medium, :alt => h(grant.name)), group_grant_path(grant.group, grant)
          .span-3.prepend-top.last
            &nbsp;
        .span-10.last
          - if not grant.media.blank?
            = simple_format grant.media
            = simple_format h(grant.proposal), :style => "text-align: justify; line-height: 2; margin-right: -40px;" 
          - else
            = simple_format h(grant.proposal), :style => "text-align: justify; line-height: 2; margin-right: -8px;"
        %br{ :style => "clear:both" }
        %hr        
    - if @grants_awarded_count > 0
      - if @search.page_count > 1
        .pagination{:style => "text-align: left"}
          .prepend-7<
            %h3= page_links
      - else
        .tbs &nbsp;
    #comments
      .flr= link_to "Add Comment", new_group_comment_path(@group)
      -#.flr= link_to "Add Comment", '#addcomment', {:class => 'new_comment_link' }
      %strong= pluralize @group.comments.count, "Comment"
      %hr
      -#= render 'shared/new_group_comment' 
      .last= render 'shared/comments', :comments => @group.comments
  .span-6.prepend-1#group_members
    - if @group.memberships.voters.count.zero?
      %br 
      %h3= pluralize @group.memberships.members.count, "Member"
      - group_members(params[:id]).each do |m|
        = link_to user_defined_image(m, :thumb, :alt => h(m.login), :title => h(m.login)), "/#{h(m.login)}"
    - else
      %br
      %h3= pluralize @group.memberships.voters.count, "Voter"
      - group_voters(params[:id]).each do |v|
        = link_to user_defined_image(v, :thumb, :alt => h(v.login), :title => h(v.login)), "/#{h(v.login)}"
    -#.border-test.prepend-top= render 'shared/tipjoy', :group => @group.permalink          
    %br
    %br
    %br   
