.span-24.last
  .span-14.prepend-1.append-1.last
    - if @group.memberships.voters.count.zero?
      %h3
        .flr= button_to 'Edit', edit_group_path(@group), :method => :get, :onclick => "this.blur();"
        Creator can edit this group until anyone pays dues
      %br
      %br
    - else
      - if @group.grants.count.zero?
        %h2 Welcome
      - else
        %h2 Recent Awards
    .prepend-1
      - @grants_awarded.each do |grant|
        %h3<
          .flr= link_to user_defined_image(grant.user, :small, :alt => h(grant.user.login), :title => h(grant.user.login)), "/#{h(grant.user.login)}"
          =h grant.name
        %h5== #{number_to_currency grant.amount, :precision => 0}
        .span-3.last
          .span-3= link_to user_defined_image(grant, :medium, :alt => h(grant.name)), group_grant_path(grant.group, grant)
          .span-3.prepend-top.last
            &nbsp;
        .span-10.last
          - if not grant.media.blank?
            = simple_format grant.media
            = simple_format grant.proposal, :style => "text-align: justify; line-height: 2; margin-right: -40px;" 
          - else
            = simple_format grant.proposal, :style => "text-align: justify; line-height: 2; margin-right: -8px;"
        %br{ :style => "clear:both" }
        %hr        
      - if @grants_awarded_count > 0
        - if @search.page_count > 1
          .span-10.pagination.center.prepend-top.last
            %br
            %h3= page_links
          %hr
    #comments
      %h6= pluralize @group.comments.count, "Comment"
      %hr
      .last= render 'shared/comments', :comments => @group.comments
    %h5= link_to "Add Comment", new_group_comment_path(@group)
  .span-6.prepend-1.prepend-top
    .border-test
      %h3= button_to "Join Group", new_group_membership_path(@group), :method => :get if not member?(params[:id])
      %h3= button_to "View Session", group_grants_path(@group), :method => :get unless @group.grants.count.zero?
      %h3= button_to "New Grant", new_group_grant_path(@group), :method => :get if voter?(params[:id])
    .border-test.prepend-top.last
      - if @group.memberships.voters.count.zero?
        %h3= pluralize @group.memberships.members.count, "Member"
        - group_members(params[:id]).each do |m|
          = link_to user_defined_image(m, :thumb, :alt => h(m.login), :title => h(m.login)), "/#{h(m.login)}"
      - else
        %h3= pluralize @group.memberships.voters.count, "Voter"
        - group_voters(params[:id]).each do |v|
          = link_to user_defined_image(v, :thumb, :alt => h(v.login), :title => h(v.login)), "/#{h(v.login)}"
    %br
    %br
    %br          
    -#.success.prepend-top.last
      nifty charts       
