%h2.prepend-1.append-2 Group Voting Session
.span-21.prepend-2.append-1.last
  - @grants.each do |grant|
    - unless grant.user == current_user or grant.votes.count.zero?
      .span-14.append-1
        %h3<
          .flr= link_to user_defined_image(grant.user, :small, :alt=> "#{grant.user.login.capitalize}", :title => h(grant.user.login)), "/#{h(grant.user.login)}"
          = h grant.name
        %h3== $#{grant.amount.to_i.to_s}
      .span-6.last 
        = user_cred_images(grant.user, :small, true)   
      .span-15
        .span-3
          = link_to user_defined_image(grant, :medium, :alt => h(grant.name)), group_grant_path(grant.group, grant)
        .span-11.last{:style => "text-align:justify"}
          - unless grant.media.blank?
            = grant.media
            %br
            %br
          = simple_format h(grant.proposal), :style => "line-height: 2"
      .span-5.last
        == <img alt="#{accessible_tally grant}" title="#{accessible_tally grant}" src="#{session_bar_chart_url(grant)}" />
        %p= render 'shared/vote', :grant => grant 
      %hr
.span-22.prepend-1.append-1.last
  - if @grants_count > 0
    - if @search.page_count > 1
      .pagination{:style => "text-align: left"}
        .prepend-7<
          %h3= page_links
    - else
      .tbs &nbsp;
      %hr    
