.prepend-1.append-1.prepend-top
  %div.rounded-box.rounded-box-image.push-2
    %div
      %div
        %div
          %h3.prepend-top<
            = link_to user_defined_image(@group, :display, :alt => h(@group.name)), group_path

  %div.rounded-box.rounded-box-medium.prepend-2.pull-2
    %div
      %div
        %div.rounded-box-largefont
          %h2.prepend-1.prepend-top Edit Group
          .clear.large
            - form_for @group, :html => { :multipart => true } do |f|
              .prepend-1
                = f.error_messages 
              .form_row.prepend-top
                = f.label :name
                = f.text_field :name, :size => 20
              .form_row.prepend-top
                = f.label :purpose
                = f.text_field :purpose, :size => 50
              .form_row.prepend-top
                = f.label :photo
                = f.file_field :photo
              %br
              .prepend-4
                = submit_button 'Update'
                %br
                %br

