.prepend-top
.span-20.prepend-2.append-2#search
  .prepend-10.last
    - form_for @search do |f|
      - f.fields_for @search.conditions do |groups|
        .form_row
          %h6 Find a group
          = groups.text_field :name_keywords, :class => "text buttonless_field"
          = submit_button "Search"
    %h3= link_to "Create a new group", new_group_path, :method => :get


-#
  - if @groups_count > 0 
    = #{@groups_count} groups found
    %table
      %tr
        %th= order_by_link :id
        %th= order_by_link :name
        %th= order_by_link :purpose
      - @groups.each do |group|
        %tr
          %td= group.id
          %td= group.name 
          %td= group.purpose 
    Per page: 
    = per_page_select
    - if @search.page_count > 1
      %br 
      Page: 
      = page_select
  - else
    No groups were returned


- @groups.each do |group|
  .span-20.prepend-2.append-2.prepend-top.last

    .span-3{:style => "min-height: 102px"}
      = link_to user_defined_image(group, :large, :alt => "visit group"), group_path(group)
    .span-12
      .span-12.last{:style => "margin-right: 1em"} 
        %h3= link_to h(group.name), group_path(group), :alt => h(group.name)
        == #{pluralize group.memberships.voters.count, "voter"}
        == | #{number_to_currency group.funds.floor, :precision => 0} pool 
        == | #{pluralize voted_sessions(group.grants.session), "session"}
        == | formed
        = group.created_at.strftime "%B %Y"
      .span-12.last
        %span{:style => "position:relative; top: 4px"}
          %strong=h group.purpose
    .span-4.last.border-test
      %h3 Grants / members          
    
%br{ :style => "clear:both" }        
- if @groups_count > 0
  - if @search.page_count > 1
    .span-24.pagination.prepend-top
      %br
      %br
      %h3= page_links
%br
%br      
