%h2.prepend-1 Listing groups
.prepend-1= link_to 'New group', new_group_path 
- form_for @search do |f|
  %fieldset
    %legend Search Groups
    - f.fields_for @search.conditions do |groups|
      .form_row
        = groups.text_field :name_keywords, :class => "text buttonless_field"
        -#= submit_button "Search"

-#
  - if @groups_count > 0 
    = #{@groups_count} groups found
    %table
      %tr
        %th= order_by_link :id
        %th= order_by_link :name
        %th= order_by_link :purpose
      - @groups.each do |group|
        %tr
          %td= group.id
          %td= group.name 
          %td= group.purpose 
    Per page: 
    = per_page_select
    - if @search.page_count > 1
      %br 
      Page: 
      = page_select
  - else
    No groups were returned
- @groups.each do |group|
  .span-22.prepend-2.prepend-top
    .span-3
      = link_to image_tag(group.photo.url(:medium), :alt => "visit group"), group_path(group), :alt => h(group.name)
    .span-9{:style => "margin-right: 1em"} 
      %h3= link_to h(group.name), group_path(group), :alt => h(group.name)
      == #{pluralize group.memberships.voters.count, "voter"}
      == | $#{group.funds.to_i} pool 
      == | #{pluralize group.grants.session.count, "session"}
      == | formed
      = group.created_at.strftime "%B %Y"
      -#.prepend-top= h group.purpose
    .span-7.last
      %p<
        %strong=h group.purpose
%br{ :style => "clear:both" }        
- if @groups_count > 0
  - if @search.page_count > 1
    .span-24.pagination.prepend-top
      %br
      %br
      %h3= page_links
        
