%h1 New group
- form_for @group, :html => {:multipart => true} do |f|
  = f.error_messages
  %p
    = f.label :name
    = f.text_field :name
  %p
    = f.label :purpose
    = f.text_field :purpose
  %p
    = f.label :dues
    = f.text_field :dues
  %p
    = f.label :photo
    = f.file_field :photo
  %p= f.submit 'Create'
= link_to 'Back', groups_path
