-# TODO write helper method for default User & Group images
-# TODO use partials
-# change default naming (of images) for additional clarity
= render 'shared/groups_header'
.span-24.last
  .span-14.prepend-1.append-1.last
    %h2 Recent Awards
    .prepend-1
      - for grant in grants_awarded
        %h3=h grant.name
        %h5== $#{grant.amount}
        %p= simple_format grant.proposal 
        %hr
    #comments
      %h6 {count} Comments
      %hr
      - for comment in @group.comments
        .comment
          =simple_format comment.content
          %hr
    %h5= link_to "Add Comment", new_group_comment_path(@group)
    -# %h5= link_to 'Edit', edit_group_path(@group)
    -# %h5= link_to 'Back', groups_path
  .span-6
    .success
      %h3== Dues $#{@group.dues} 
      %h3== Funds $#{@group.funds.floor.to_i} 
      %h3= link_to "Join Group", new_group_membership_path(@group) if not member?
      %h3= link_to "Write Grant", new_group_grant_path(@group) if member?
      %h3= link_to "View Forum", group_grants_path(@group) if member?
    .success.prepend-top.last
      %h3= pluralize @group.memberships.count, "Member"
      -# %h3= pluralize principals.count, "Principal"
      - for member in @group.users
        = image_tag member.photo.url(:thumb)
