%p= image_tag @group.photo.url :medium
- form_for @group, :html => { :multipart => true } do |f|
  %p
    = f.file_field :photo
    = f.submit "Change Photo"
%h3
  Name:
  =h @group.name
%h3
  Purpose:
  =h @group.purpose
%h3= pluralize @group.memberships.count, "Member"
-# %h3= pluralize principals.count, "Principal"
- for member in @group.users
  = image_tag member.photo.url :small
%h3
  == Dues $#{@group.dues}, Collected $#{@group.dues_collected.to_s}, 
  == Grants Written: #{@group.grants_written}, Votes Held: #{@group.votes_held}
%h3
  == Grants Awarded: #{@group.grants.count}, 
  == Yield Average: $#{@group.yield_average}  
%h6#comments Comments
%hr
- for comment in @group.comments
  .comment
    =simple_format comment.content
    %hr
%h5= link_to "Add Comment", new_group_comment_path(@group)
%h3= link_to "Join Group", new_group_membership_path(@group) unless member?
%h5= link_to 'Edit', edit_group_path(@group)
%h5= link_to 'Back', groups_path
