.form_row
  = form.label :login
  = form.text_field :login, :onclick => "$('#confirm_vital').show(); return false;"
.form_row
  = form.label :email 
  = form.text_field :email, :onclick => "$('#confirm_vital').show(); return false;"

#confirm_vital.notice.rounded
  .quiet To change your login or email address, you must re-enter your password:
  = form.password_field :password_confirm_vital

- if @user == current_user  
  - form.fields_for :profile do |p|
    .form_row
      = p.label :name, "Full name"
      = p.text_field :name
    .form_row
      = p.label :location
      = p.text_field :location
    .form_row
      = p.label :link
      = p.text_field :link
    .form_row
      = p.label :detail, "About you"
      = p.text_field :detail    
    .form_row
      = form.label :photo, @user.photo.file? ? "Change photo" : "Add photo"
      = form.file_field :photo 
.form_row
  = form.label :password, form.object.new_record? ? nil : "Change password" 
  = form.password_field :password 
.form_row
  = form.label "Confirm password"
  = form.password_field :password_confirmation 
