.prepend-1.span-22.append-1.prepend-top
  .prepend-1.span-7.append-1
    .span-2<
      %p= link_to user_defined_image(@user, :medium, :alt => "#{h @user.login}", :title => "View your public profile"), "/#{h @user.login}"
    .span-5.prepend-top.last<
      %h3.center=h @user.login
    %br{:style => "clear: both"}
    - unless @user.profile.name.blank?
      %h6.quiet= h @user.profile.name
    - unless @user.profile.location.blank?
      %h6.quiet= h @user.profile.location
      -# TODO write helper method for links and breadcrumbs ...
    - unless @user.profile.link.blank? or @user.profile.link == "http://"
      %h6.quiet= link_to h(@user.profile.link), h(@user.profile.link) if @user.profile.link.include?("http://")
    %h5.quiet=h @user.profile.detail if @user.profile.detail
    %h3<
      Cred
      %hr
    = user_cred_images(@user, :thumb)
    %br{:style => "clear:both"}
    %br
    %br
  .span-12.append-1.prepend-top.last
    %h3.prepend-top<
      Groups
      %hr
    - if @user.groups.count.zero?
      %h3= link_to "Create or join a group!", groups_path
    - else
      - @user.groups.reverse.each do |g|
        = link_to user_defined_image(g, :small, :alt => "#{h g.name}", :title => "#{h g.name}"), group_path(g)
    - unless @user.grants.awarded.count.zero?
      %h3.prepend-top<
        Awards
        %hr
      - @user.grants.awarded.each do |g|
        = link_to user_defined_image(g, :small, :alt => "#{h g.name}", :title => "#{h g.name}"), group_grant_path(g.group, g)
    - unless @user.grants.session.count.zero?
      %h3.prepend-top<
        Sessions
        %hr
      - @user.grants.session.each do |g|
        -# show all sessions on account page, only those voted on public profile
        = link_to user_defined_image(g, :small, :alt => "#{h g.name}", :title => "#{h g.name}"), group_grant_path(g.group, g) unless g.votes.count.zero?
    - unless @user.grants.writeboard.count.zero?
      %h3.prepend-top<
        Writeboard
        %hr
      - @user.grants.writeboard.reverse.each do |g|
        -# show all sessions on account page, only those voted on public profile
        = link_to user_defined_image(g, :small, :alt => "#{h g.name}", :title => "#{h g.name}"), group_grant_path(g.group, g) if g.votes.count.zero?
    %br
    %br
    %br

