.center
  - form_for :vote, :url => {:controller => "votes", :action => "create"} do |f|
    - if blitz_voter?(current_user)
      = f.radio_button :cast, "yea"
      %strong.large Yea
      = submit_button "Vote"
      %strong.large Nay 
      = f.radio_button :cast, "nay"
      = f.hidden_field :user_id, :value => current_user.id
      = f.hidden_field :group_id, :value => 0
      = f.hidden_field :grant_id, :value => blitz.id
    - else
      %h4.quiet= link_to 'pay dues and vote', root_path
