- if blitz_voter?(current_user) and voting_blitz?(blitz)
  - form_for :vote, :url => {:controller => "votes", :action => "create"} do |f|
    = f.radio_button :cast, "yea", :style => "position: relative; top: 2px"
    %strong.large.fancy_type Yea&nbsp;
    = submit_button "Vote"
    %strong.large.fancy_type &nbsp;Nay 
    = f.radio_button :cast, "nay", :style => "position: relative; top: 2px"
    = f.hidden_field :user_id, :value => current_user.id
    = f.hidden_field :blitz_id, :value => blitz.id
- elsif not blitz_voter?(current_user)    
  %h4.quiet= link_to 'pay dues and vote', root_path
- else
  %h4.quiet Thank you for voting!

