- if params[:group_id]
  = render 'groups/header', :group => @group
  = render 'groups/session'
- elsif params[:user_id]
  &nbsp;
- else
  .span-21.prepend-1.append-1.prepend-top.last
    .span-10
      %h2 Recent Awards
    .span-11.last
      %h2== Award Total #{number_to_currency(award_total, :precision => 0)}

  .span-20.prepend-2.append-2.last#search
    .span-10.pull-1.prepend-top
      %h3.quiet(style='position:relative; top: 8px;') Winning starts with a bit of research
    .span-10.last
      - form_tag grants_path, :method => :get do
        .form_row
          %h6 Search awards
          = text_field_tag :search, params[:search], :class => 'text buttonless_field'
          = submit_button "Search"
    .span-20.prepend-top.last
      %br
  - @grants.each do |g|
    - if g.class.name == "Grant"
      = render 'grant_index', :grant => g
      .span-20.prepend-2.append-2.last<
        %hr
    - else
      = render 'blitzes/blitz', :blitz => g
      .span-20.prepend-2.append-2.last<
        %hr

  .clear= will_paginate @grants
  .prepend-2
    Grants
    %br
    = link_to image_tag("http://i.creativecommons.org/l/by-sa/3.0/us/88x31.png", :alt => "Creative Commons License", :style => "border-width:0" ),  "http://creativecommons.org/licenses/by-sa/3.0/us/", :rel => "license"
    /%br  /%span(xmlns:dc="http://purl.org/dc/elements/1.1/" href="http://purl.org/dc/dcmitype/Text" property="dc:title" rel="dc:type")Written Text of Grants and Blitz Grants licensed under a    /%br    /= link_to 'Creative Commons Attribution-Share Alike 3.0 United States License', 'http://creativecommons.org/licenses/by-sa/3.0/us/', :rel => "license"

