- if params[:group_id]
  = render 'groups/header', :group => @group
  = render 'groups/session'
- elsif params[:user_id]
  = render 'account'
- else
  .span-21.prepend-2.append-1.prepend-top.last
    %h2 Recent Awards

  .span-20.prepend-2.append-2.last#search
    .span-10.pull-1.prepend-top
      %h3.quiet Winning starts with a bit of research
    .span-10.last
      - form_for @search do |f|
        - f.fields_for @search.conditions do |groups|
          .form_row
            %h6 Search awards
            = groups.text_field :proposal_keywords, :class => "text buttonless_field"
            = submit_button "Search"
    .span-20.prepend-top.last
      %br
  - @grants.each do |g|
    = render 'grant_index', :grant => g
  
  .clear
  - if @grants_count > 0
    - if @search.page_count > 1
      .pagination
        %h3= page_links
    - else 
      .tbs &nbsp;    
    

