- if params[:group_id]
  = render 'groups/header', :group => @group
  = render 'groups/session'
- elsif params[:user_id]
  -# FIXME
  = render 'account'
- else
  .span-21.prepend-1.append-1.prepend-top.last
    .span-10
      %h2 Recent Awards
    .span-11.last
      %h2== Award Total #{number_to_currency(award_total, :precision => 0)}

  .span-20.prepend-2.append-2.last#search
    .span-10.pull-1.prepend-top
      %h3.quiet Winning starts with a bit of research
    .span-10.last
      - form_for @search do |f|
        .form_row
          %h6 Search awards
          = f.text_field :proposal_like, :class => "text buttonless_field"
          = f.hidden_field :awarded, :value => true
          = submit_button "Search"
    .span-20.prepend-top.last
      %br
  - @grants.each do |g|
    - if g.class.name == "Grant"
      = render 'grant_index', :grant => g
      .span-20.prepend-2.append-2.last<
        %hr
    - else
      = render 'blitzes/blitz', :blitz => g
      .span-20.prepend-2.append-2.last<
        %hr

  .clear
  %h4.pull-1= will_paginate @grants

