%h2 Standard (New) Grant Page
%p Only for voters of a group
%p
  - form_for @grant, :html => {:multipart => true} do |f|
    = f.error_messages
    = f.hidden_field :user_id, :value => current_user.id
    = f.hidden_field :group_id, :value => params[:group_id]
    = f.label :name
    %br
    = f.text_field :name
    %br
    = f.label "Request Amount"
    %br
    = f.text_field :amount
    %br
    = f.label :proposal
    %br
    = f.text_area :proposal
    %br
    = f.label "Photo"
    %br
    = f.file_field :photo
    %br
    %br
    = f.submit "Create"
    
