%h2.prepend-1 Login
- form_for @user_session, :url => user_session_path do |f|
  = f.error_messages 
  .form_row
    = f.label :login
    = f.text_field :login
  .form_row
    = f.label :password
    = f.password_field :password
    &nbsp; &nbsp; 
    = link_to "forgotten password?", new_password_reset_path, :class => "quiet"
  .form_row
    = f.label :remember_me
    = f.check_box :remember_me
  .prepend-4
    = submit_button "Login"
